.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 38;
}

.searchresult {
    @include center-styles;
    gap: 40px;

    &__title {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        font-weight: 900;
        text-align: center;
    }

    &__info {
        &__top {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            img {
                width: 12rem;
            }

            p {
                padding: 40px 0;
                font-size: 2rem;
                font-weight: 700;
                text-align: center;
            }
        }

        .modal__open__btn {
            margin: 10px auto;
            padding: 12px 20px;
            position: relative;
            background-color: #9856fd;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1.125rem;
            -webkit-animation: twinkle 4s infinite;
            animation: twinkle 4s infinite;
            z-index: 45;
        }

        &__bot {
            margin: 40px auto 0;
            padding: 20px 50px;
            border-radius: 8px;
            background-color: rgb(235, 235, 235, 0.7);

            p {
                padding: 2px 0;
                font-size: 0.875rem;
                color: #4c4c4c;
            }
        }
    }

    &__modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 60px 40px;
        box-sizing: border-box;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 40;
        display: flex;
        flex-direction: column;
        min-width: 370px;
        max-height: 95%;
        overflow: auto;

        .goWalk__box {
            text-align: center;

            p {
                font-size: 2.250rem;
                font-weight: 700;
            }

            img {
                padding: 20px 0;
                max-height: 300px;
            }

            audio {
                display: block;
                margin: 0 auto;
            }
        }

        .thinking__box {
            text-align: center;

            p {
                font-size: 1.875rem;
                font-weight: 700;
            }

            button {
                margin: 40px auto 50px;
                font-weight: 600;
                color: #382b22;
                text-transform: uppercase;
                padding: 1.25em 2em;
                background: #fcf0ff;
                border: 2px solid #b185ab;
                border-radius: 0.75em;
                transform-style: preserve-3d;
                transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);

                &::before {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: #eac4f9;
                    border-radius: inherit;
                    box-shadow: 0 0 0 2px #b185ab, 0 0.625em 0 0 #f3e2ff;
                    transform: translate3d(0, 0.75em, -1em);
                    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
                }

                &:hover {
                    background: #f7e9ff;
                    transform: translate(0, 0.25em);

                    &::before {
                        box-shadow: 0 0 0 2px #b185ab, 0 0.5em 0 0 #ffe3e2;
                        transform: translate3d(0, 0.5em, -1em);
                    }
                }

                &:active {
                    background: #f7e9ff;
                    transform: translate(0em, 0.75em);

                    &::before {
                        box-shadow: 0 0 0 2px #b185ab, 0 0 #ffe3e2;
                        transform: translate3d(0, 0, -1em);
                    }
                }
            }

            .roulette {
                width: 100%;
                overflow: hidden;
                display: flex;
                align-items: center;
                flex-direction: column;
                position: relative;
            }

            .roulette::before {
                content: "";
                position: absolute;
                width: 10px;
                height: 50px;
                border-radius: 5px;
                background: #000;
                top: -20px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 22;
            }
        }

        .modal__close__btn {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            font-size: 25px;
        }
    }

}


@keyframes twinkle {

    5%,
    50% {
        transform: scale(1);
    }

    10% {
        transform: scale(0.9);
    }

    15% {
        transform: scale(1.15);
    }

    20% {
        transform: scale(1.15) rotate(-5deg);
    }

    25% {
        transform: scale(1.15) rotate(5deg);
    }

    30% {
        transform: scale(1.15) rotate(-3deg);
    }

    35% {
        transform: scale(1.15) rotate(2deg);
    }

    40% {
        transform: scale(1.15) rotate(0);
    }
}